.menu ul {
	display: flex;
	list-style: none;
	border: 2px solid #0066BB;
	background-color: #AAFFAA;
}
.menu li {
	margin-left: 5px;
	margin-right: 5px;
}
.menu a {
	color: #BB2222;
	display: block;
	padding: 5px;
}
.menu a:hover {
	color: #FF2222;
}
.current {
	background-color: #EDF6F7;
	border-left: 2px solid #0066BB;
	border-right: 2px solid #0066BB;
}