body {
	background-color: #DFEFF0;
	color: #333333;
	font-family: Georgia, "Times New Roman", serif;
}

.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
header, footer, .lead, nav {
	grid-column: 1 / 3;
}
header {
	grid-row: 1 / 1;
}
.lead {
	grid-row: 2 / 2;
	border: 2px solid #00BB00;
	margin-top: 15px;
	padding-right: 20px;
	background-image: url("images/background.jpg");
	background-color: #AAFFAA;
	text-shadow: -2px 2px 4px #AAAAAA;
}
nav {
	grid-row: 3 / 3;
}
article {
	grid-column: 1 / 1;
	grid-row: 4 / 4;
}
aside {
	grid-column: 2 / 2;
	grid-row: 4 / 4;
	max-width: 200px;
	border: 2px dotted #BB0000;
	border-radius: 15px;
	margin-top: 10%;
	margin-left: 50px;
	padding-left: 15px;
	padding-right: 20px;
	background-color: #EDF6F7;
	height: auto;
}
footer {
	grid-row: 5 / 5;
	border: 2px dotted #BB0000;
	border-radius: 15px;
	padding: 10px;
	background-color: #EDF6F7;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
}

h1 {
	color: #0066BB;
	border-bottom: 1px solid #BB0000;
}

h2 {
	font-style: italic;
	font-weight: bold;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-left: 50px;
	background-image: url("images/bullet.png");
	background-repeat: no-repeat;
	background-position: left center;
}

p {
	margin-top: 10px;
	margin-left: 25px;
	line-height: 1.5em;
}

p:first-child:first-letter { font-size: 18px; }

.description {
	font-style: italic;
	line-height: 0em;
	background-color: #DFEFF0;
	color: #333333;
	padding-bottom: 0.7em;
	border-bottom: 1px dotted #BB0000;
	margin-right: 50%;
}

.highlight {
	background-color: #EDF6F7;
	color: #444444;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
}
.highlight h2 {
	color: #444444;
}

ol {
	margin-top: 10px;
	padding-left: 75px;
}

ul {
	margin-top: 10px;
	padding-left: 75px;
}

a {
	color: #000099;
	text-decoration: none;
}

a:hover { color: #990000; }

.reference {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0px;
}
footer h2 {
	display: flex;
	justify-content: left;
	margin-left: 10%;
}
.reference li {
	flex-basis: 200px;
	list-style-type: none;
	padding: 10px;
	border: 2px dotted #00BB00;
	border-radius: 15px;
	margin: 5px;
	background-color: #FFFFFF;
}
.reference a {
	text-decoration: underline;
}

figure {
	float: right;
}

.container {
	width: 95%;
	margin-left: 2.5%;
	max-width: 1150px;
}
