<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home | Wattpad But Better</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    </head>
    <header>
        <h1><a href="{{url_for('main.index')}}">Wattpad But Better</a></h1>
    </header>
    <body>
        <nav>
            <ul>
                <li><a href="{{url_for('main.index')}}">Home</a></li>
                <li><a href="{{url_for('main.browse')}}">Browse</a></li>
                {% if loggedin == "Yes" %}
                <li><a href="{{url_for('main.user', username=user.username)}}">My Stuff</a></li>
                <li><a href="{{url_for('main.write')}}">New Story</a></li>
                <li><a href="{{url_for('main.logout')}}">Log Out</a></li>
                {% else %}
                <li><a href="{{url_for('main.login')}}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
        <div id="container">
            <main>
                <p>Discover Wattpad But Better, the really cool and awesome place where you can and should publish ALL your creative work, just trust us!*</p>
                {% if loggedin == "Yes" %}
                <div class="clickme">
                    <a href="{{url_for('main.write')}}" title="Get Started!">Get Started!</a>
                </div>
                {% else %}
                <div class="clickme">
                    <a href="{{url_for('main.signup')}}" title="Sign Up!">Sign Up!</a>
                </div>
                {% endif %}
            </main>
        </div>
        <footer>
            <p>* By sharing your work on Wattpad But Better, you agree to give Wattpad But Better full ownership and creative control of your work :D</p>
        </footer>
    </body>
</html>